<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TransparentVideoPlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28A742E21C48C5FB001FA8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28A742FB1C48C5FB001FA8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28A743061C48C5FB001FA8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
